/*version_begin_1*/
:root{
    --public_foot_height:3rem;
}
#body{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#dom_father{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#public_footer{
    width: 100%;
    height: var(--public_foot_height);
    line-height: var(--public_foot_height);
    background: var(--public_foot_background);
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#public_footer ul{
    display: block;
    width: 100%;
    height: 100%;
}
#public_footer li{
    display: block;
    height: 100%;
    float: left;
    text-align: center;
}
#public_footer li>a{
    display: block;
}
#public_footer li>a>span{
    font-weight: bold;
}
/*      平
分
父
*/
/*一个子 */
/*一个子 */
#public_footer li:nth-last-child(1):first-child,
#public_footer li:nth-last-child(1):first-child~li{
    width: 100%;
}
/* 两个子*/
#public_footer li:nth-last-child(2):first-child,
#public_footer li:nth-last-child(2):first-child~li{
    width: calc(100% / 2);
}
/*三  个子*/
#public_footer li:nth-last-child(3):first-child,
#public_footer li:nth-last-child(3):first-child~li{
    width: calc(100% / 3);
}
/*  四  个  子*/
#public_footer li:nth-last-child(4):first-child,
#public_footer li:nth-last-child(4):first-child~li{
    width: calc(100% / 4);
}
/*五个子          */
#public_footer li:nth-last-child(5):first-child,
#public_footer li:nth-last-child(5):first-child~li{
    width: calc(100% / 5);
}
.foot_active{
    background: var(--public_foot_active_background);
}
.shades{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2100000000 !important;
}
#base_shade{
    background: var(--base_shade_background_color);
}
#index_shade{
    background: var(--shade_index_background_color);
}
#platform_shade{
    background: var(--shade_platform_background_color);
}
#page_shade{
    background: var(--shade_page_background_color);
}
.invisible{
    visibility: hidden !important;
}
.gradually_visible{
    visibility: visible !important;
}
#storage_father{
    display: none;
    visibility: hidden !important;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
/*version_end_1*/
