/*4eae316969853819*/:root{
    --public_foot_height:3rem;
    --base_shade_center_min_hieght:3rem;
    --base_shade_center_line_height:1.2rem;
}
#body{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#dom_father{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#public_footer{
    width: 100%;
    height: var(--public_foot_height);
    line-height: var(--public_foot_height);
    background: var(--public_foot_background);
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#public_footer ul{
    display: block;
    width: 100%;
    height: 100%;
}
#public_footer li{
    display: block;
    height: 100%;
    float: left;
    text-align: center;
}
#public_footer li>a{
    display: block;
}
#public_footer li>a>span{
    font-weight: bold;
}/*4eae316969853819*/
/*9943eccfd64871a0*//*      平
分
父
*/
/*一个子 */
/*一个子 */
#public_footer li:nth-last-child(1):first-child,
#public_footer li:nth-last-child(1):first-child~li{
    width: 100%;
}
/* 两个子*/
#public_footer li:nth-last-child(2):first-child,
#public_footer li:nth-last-child(2):first-child~li{
    width: calc(100% / 2);
}
/*三  个子*/
#public_footer li:nth-last-child(3):first-child,
#public_footer li:nth-last-child(3):first-child~li{
    width: calc(100% / 3);
}
/*  四  个  子*/
#public_footer li:nth-last-child(4):first-child,
#public_footer li:nth-last-child(4):first-child~li{
    width: calc(100% / 4);
}
/*五个子          */
#public_footer li:nth-last-child(5):first-child,
#public_footer li:nth-last-child(5):first-child~li{
    width: calc(100% / 5);
}
.foot_active{
    background: var(--public_foot_active_background);
}/*9943eccfd64871a0*/
/*32dc9d70cb0c0fd2*/.shades{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2100000000 !important;
}
#base_shade{
    background: var(--base_shade_background_color);
}
.base_shade_center{
    padding: 0.5rem;
    width: calc(100% - 1rem);
    max-height: 100%;
    /*min-height: var(--base_shade_center_min_hieght);*/
    overflow-y: scroll;
    background: var(--base_shade_center_background_color);
    text-align: left;
    line-height: var(--base_shade_center_line_height);
    word-wrap: break-word;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.base_shade_center_son{
    margin: 0 auto;
    height: 1.5rem;
    background: var(--base_shade_center_son_background_color);
}
.base_shade_center_sons{
    display: block;
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    margin-right: 0.5rem;
    background: var(--base_shade_center_sons_background_color);
}
.base_shade_center_sons:last-child{
    margin-right: 0px;
}
.base_shade_center_son_now{
    background: var(--base_shade_center_son_now_background_color);
}
/*#index_shade{*/
/*    background: var(--shade_index_background_color);*/
/*}*/
/*#platform_shade{*/
/*    background: var(--shade_platform_background_color);*/
/*}*/
/*#page_shade{*/
/*    background: var(--shade_page_background_color);*/
/*}*/
.invisible{
    visibility: hidden !important;
}
.gradually_visible{
    visibility: visible !important;
}
#storage_father{
    display: none;
    visibility: hidden !important;
    width: 0px;
    height: 0px;
    overflow: hidden;
}/*32dc9d70cb0c0fd2*/
