/*cwj*/#b_forum{
    background: var(--b_forum_bk);
}
.forum_sons{
    height: calc(100% - var(--pub_head_h));
    background: red;
    float: left;
}
#b_forum_head{
    height: var(--pub_head_h);
    line-height: var(--pub_head_h);
    position: absolute;
    top: 0px;
    left: 0px;
    background: var(--pub_head_bk);
}
#b_forum_head_u{
    position: absolute;
    top: 0px;
    left: 0px;
}
.forum_head_t{
    float: left;
    padding: 0px 2rem 0px 2rem;
    margin-left: 1rem;
}
.forum_head_t_act{
    background: var(--forum_head_t_act_bk);
}
#b_forum_body{
    position: absolute;
    top: var(--pub_head_h);
    left: 0px;
}/*cwj*/
