/*cwj*/#b_forum{
    background: #ffe800;
}
.forum_sons{
    height: calc(100% - var(--pub_head_h));
    background: red;
    float: left;
}
#b_forum_body{
    position: absolute;
    top: 0px;
    left: 0px;
}/*cwj*/
/*orl*/.forum_body_0{
           width: 0px;
       }
.forum_body_1{
    width: 100vw;
}
.forum_body_2{
    width: 200vw;
}
.forum_body_3{
    width: 300vw;
}
.forum_body_4{
    width: 400vw;
}
.forum_body_5{
    width: 500vw;
}
.forum_body_6{
    width: 600vw;
}
.forum_body_7{
    width: 700vw;
}
.forum_body_8{
    width: 800vw;
}
.forum_body_9{
    width: 900vw;
}
.forum_body_10{
    width: 1000vw;
}/*orl*/
/*wzx*//* 动画代码 */
@keyframes left_slide_1 {
    0%   {
        left: 0px;
    }
    10%   {
        left: -10vw;
    }
    20%   {
        left: -20vw;
    }
    30%   {
        left: -30vw;
    }
    40%   {
        left: -40vw;
    }
    50%   {
        left: -50vw;
    }
    60%   {
        left: -60vw;
    }
    70%   {
        left: -70vw;
    }
    80%   {
        left: -80vw;
    }
    90%   {
        left: -90vw;
    }
    100% {
        left: -100vw;
    }
}
/* 应用动画的元素 */
.left_slide_1{
    animation-name: left_slide_1;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_2 {
    0%   {
        left: -100vw;
    }
    10%   {
        left: -110vw;
    }
    20%   {
        left: -120vw;
    }
    30%   {
        left: -130vw;
    }
    40%   {
        left: -140vw;
    }
    50%   {
        left: -150vw;
    }
    60%   {
        left: -160vw;
    }
    70%   {
        left: -170vw;
    }
    80%   {
        left: -180vw;
    }
    90%   {
        left: -190vw;
    }
    100% {
        left: -200vw;
    }
}
/* 应用动画的元素 */
.left_slide_2{
    animation-name: left_slide_2;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_3 {
    0%   {
        left: -200vw;
    }
    10%   {
        left: -210vw;
    }
    20%   {
        left: -220vw;
    }
    30%   {
        left: -230vw;
    }
    40%   {
        left: -240vw;
    }
    50%   {
        left: -250vw;
    }
    60%   {
        left: -260vw;
    }
    70%   {
        left: -270vw;
    }
    80%   {
        left: -280vw;
    }
    90%   {
        left: -290vw;
    }
    100% {
        left: -300vw;
    }
}
/* 应用动画的元素 */
.left_slide_3{
    animation-name: left_slide_3;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_4 {
    0%   {
        left: -300vw;
    }
    10%   {
        left: -310vw;
    }
    20%   {
        left: -320vw;
    }
    30%   {
        left: -330vw;
    }
    40%   {
        left: -340vw;
    }
    50%   {
        left: -350vw;
    }
    60%   {
        left: -360vw;
    }
    70%   {
        left: -370vw;
    }
    80%   {
        left: -380vw;
    }
    90%   {
        left: -390vw;
    }
    100% {
        left: -400vw;
    }
}
/* 应用动画的元素 */
.left_slide_4{
    animation-name: left_slide_4;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_5 {
    0%   {
        left: -400vw;
    }
    10%   {
        left: -410vw;
    }
    20%   {
        left: -420vw;
    }
    30%   {
        left: -430vw;
    }
    40%   {
        left: -440vw;
    }
    50%   {
        left: -450vw;
    }
    60%   {
        left: -460vw;
    }
    70%   {
        left: -470vw;
    }
    80%   {
        left: -480vw;
    }
    90%   {
        left: -490vw;
    }
    100% {
        left: -500vw;
    }
}
/* 应用动画的元素 */
.left_slide_5{
    animation-name: left_slide_5;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_6 {
    0%   {
        left: -500vw;
    }
    10%   {
        left: -510vw;
    }
    20%   {
        left: -520vw;
    }
    30%   {
        left: -530vw;
    }
    40%   {
        left: -540vw;
    }
    50%   {
        left: -550vw;
    }
    60%   {
        left: -560vw;
    }
    70%   {
        left: -570vw;
    }
    80%   {
        left: -580vw;
    }
    90%   {
        left: -590vw;
    }
    100% {
        left: -600vw;
    }
}
/* 应用动画的元素 */
.left_slide_6{
    animation-name: left_slide_6;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_7 {
    0%   {
        left: -600vw;
    }
    10%   {
        left: -610vw;
    }
    20%   {
        left: -620vw;
    }
    30%   {
        left: -630vw;
    }
    40%   {
        left: -640vw;
    }
    50%   {
        left: -650vw;
    }
    60%   {
        left: -660vw;
    }
    70%   {
        left: -670vw;
    }
    80%   {
        left: -680vw;
    }
    90%   {
        left: -690vw;
    }
    100% {
        left: -700vw;
    }
}
/* 应用动画的元素 */
.left_slide_7{
    animation-name: left_slide_7;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_8 {
    0%   {
        left: -700vw;
    }
    10%   {
        left: -710vw;
    }
    20%   {
        left: -720vw;
    }
    30%   {
        left: -730vw;
    }
    40%   {
        left: -740vw;
    }
    50%   {
        left: -750vw;
    }
    60%   {
        left: -760vw;
    }
    70%   {
        left: -770vw;
    }
    80%   {
        left: -780vw;
    }
    90%   {
        left: -790vw;
    }
    100% {
        left: -800vw;
    }
}
/* 应用动画的元素 */
.left_slide_8{
    animation-name: left_slide_8;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}
@keyframes left_slide_9 {
    0%   {
        left: -800vw;
    }
    10%   {
        left: -810vw;
    }
    20%   {
        left: -820vw;
    }
    30%   {
        left: -830vw;
    }
    40%   {
        left: -840vw;
    }
    50%   {
        left: -850vw;
    }
    60%   {
        left: -860vw;
    }
    70%   {
        left: -870vw;
    }
    80%   {
        left: -880vw;
    }
    90%   {
        left: -890vw;
    }
    100% {
        left: -900vw;
    }
}
/* 应用动画的元素 */
.left_slide_9{
    animation-name: left_slide_9;
    animation-duration: 0.2s;
    animation-fill-mode: forwards
}/*wzx*/