/*cwj*/#b_forum{
    background: #ffe800;
}
.forum_sons{
    height: calc(100% - var(--pub_head_h));
    background: red;
    float: left;
}
#b_forum_body{
    position: absolute;
    top: 0px;
    left: 0px;
}/*cwj*/
/*orl*/.forum_body_0{
           width: 0px;
       }
.forum_body_1{
    width: 100vw;
}
.forum_body_2{
    width: 200vw;
}
.forum_body_3{
    width: 300vw;
}
.forum_body_4{
    width: 400vw;
}
.forum_body_5{
    width: 500vw;
}
.forum_body_6{
    width: 600vw;
}
.forum_body_7{
    width: 700vw;
}
.forum_body_8{
    width: 800vw;
}
.forum_body_9{
    width: 900vw;
}
.forum_body_10{
    width: 1000vw;
}/*orl*/
