/*foz*/:root{
    --eyeshield_bk: #e7e6cb;
    --d_html_font_c: #e7572e;
    --legend_font_c: #e7851d;
    --d_font_c: #ff999c;
    --pub_f_bk: red;
    --pub_f_act_bk: #ff6b3d;
    --b_shade_bk: #803d47;
    --b_shade_center_bk: #008010;
    --shade_index_bk: green;
    --shade_plat_bk: #001080;
    --shade_page_bk: #800007;/*foz*/
    /*dnl*/--b_shade_center_sons_bk: #ff626b;
    --b_shade_center_son_now_bk: #002cff;
    --b_shade_center_son_bk: #e548ff;
    --notice_f_bk: #ff6269;
    --notice_head_bk: pink;
    --notice_foot_bk: green;
    --notice_body_bk: #92f7ff;
    --b_forum_bk: #ffab4a;
    --pub_head_bk: #96ff71;
    --forum_head_c_act_bk: #ff5356;
    --forum_sons_bk: #fff576;/*dnl*/
    /*aaa*/--one_announcement_bk: #6e60ff;
    --one_announcement_h_bk: #ffdba3;
    --one_announcement_b_bk: #b4ffb3;
    --one_announcement_f_bk: #ff668d;/*aaa*/
    /*hon*/--forum_grandson_bk: #ff666e;
    --f_grandson_h_bk: #aefdff;
    --f_grandson_b_bk: #bdffbf;
    --f_grandson_f_bk: #cc71ff;/*hon*/
    /*bbb*/--show_one_announcement_bk: #ff5c6d;
    --show_one_announcement_t_bk: #94ffa5;
    --show_one_announcement_i_bk: #9eafff;
    --show_one_announcement_close_bk: #ffef92;
}/*bbb*/