/*tps*/#body{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
#dom_f{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}
/*#pub_head{*/
/*    width: auto;*/
/*    height: auto;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*}*/
/*.one_h{*/
/*    height: var(--one_head_h);*/
/*    line-height: var(--one_head_h);*/
/*    background: var(--one_head_bk);*/
/*    text-align: center;*/
/*}*/
/*.two_h{*/
/*    height: var(--two_head_h);*/
/*    line-height: var(--two_head_h);*/
/*    background: var(--two_head_bk);*/
/*}*/
/*.two_h li{*/
/*    float: left;*/
/*    padding: 0px 1.5rem 0px 1.5rem;*/
/*    background: var(--two_h_li_bk);*/
/*}*/
/*.three_h{*/
/*    height: var(--three_head_h);*/
/*    line-height: var(--three_head_h);*/
/*    background: var(--three_head_bk);*/
/*}*/
/*.three_h li{*/
/*    float: left;*/
/*    padding: 0px 1.5rem 0px 1.5rem;*/
/*    background: var(--three_h_li_bk);*/
/*}*/
#pub_body{
    width: 500vw;
    height: calc(100% - var(--pub_foot_h));
    position: absolute;
    left: 0px;
    top: 0px;
}
.body_sons{
    /*height: 100%;*/
    float: left;
}
#pub_foot{
    /*width: 100%;*/
    height: var(--pub_foot_h);
    line-height: var(--pub_foot_h);
    background: var(--pub_f_bk);
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}
#pub_foot ul{
    display: block;
    width: 100%;
    height: 100%;
}
#pub_foot li{
    display: block;
    height: 100%;
    float: left;
    text-align: center;
}
#pub_foot li>a{
    display: block;
}
#pub_foot li>a>span{
    font-weight: bold;
}/*tps*/
/*cyl*//*      平
分
父
*/
/*一个子 */
/*一个子 */
#pub_foot li:nth-last-child(1):first-child,
#pub_foot li:nth-last-child(1):first-child~li{
    width: 100%;
}
/* 两个子*/
#pub_foot li:nth-last-child(2):first-child,
#pub_foot li:nth-last-child(2):first-child~li{
    width: calc(100% / 2);
}
/*三  个子*/
#pub_foot li:nth-last-child(3):first-child,
#pub_foot li:nth-last-child(3):first-child~li{
    width: calc(100% / 3);
}
/*  四  个  子*/
#pub_foot li:nth-last-child(4):first-child,
#pub_foot li:nth-last-child(4):first-child~li{
    width: calc(100% / 4);
}
/*五个子          */
#pub_foot li:nth-last-child(5):first-child,
#pub_foot li:nth-last-child(5):first-child~li{
    width: calc(100% / 5);
}
.f_act{
    background: var(--pub_f_act_bk);
}/*cyl*/
/*kvr*/#base_shade{
    background: var(--b_shade_bk);
}
.b_shade_cent{
    padding: var(--b_shade_cent_padd);
    width: calc(100% - var(--b_shade_cent_padd_left_right));
    max-height: 100%;
    /*min-height: var(--b_shade_cent_min_h);*/
    overflow-y: scroll;
    background: var(--b_shade_center_bk);
    text-align: left;
    line-height: var(--b_shade_cent_line_h);
    word-wrap: break-word;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.b_shade_cent_son{
    margin: 0 auto;
    height: var(--b_shade_cent_sons_h);
    background: var(--b_shade_center_son_bk);
}
.b_shade_cent_sons{
    display: block;
    float: left;
    width: var(--b_shade_cent_sons_h);
    height: var(--b_shade_cent_sons_h);
    border-radius: var(--b_shade_cent_sons_border_radius);
    margin-right: var(--b_shade_cent_sons_margin_right);
    background: var(--b_shade_center_sons_bk);
}
.b_shade_cent_sons:last-child{
    margin-right: 0px;
}
.b_shade_cent_son_now{
    background: var(--b_shade_center_son_now_bk);
}
#notice_f{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2100000000 !important;
    background: var(--notice_f_bk);
}
.notice_head{
    width: 100%;
    height: var(--notice_head_h);
    line-height: var(--notice_head_h);
    background: var(--notice_head_bk);
    text-align: center;
    font-size: var(--notice_head_font_size);
}
.notice_body{
    width: calc(100% - var(--notice_body_padd_left_right));
    height: calc(100% - var(--notice_head_h) - var(--notice_foot_h) - var(--notice_body_padd_left_right));
    overflow-y: scroll;
    padding: var(--notice_body_padd);
    background: var(--notice_body_bk);
    line-height: var(--notice_body_line_h);
    word-wrap: break-word;
}
.notice_foot{
    width: 100%;
    height: var(--notice_foot_h);
    line-height: var(--notice_foot_h);
    background: var(--notice_foot_bk);
    text-align: center;
    font-size: var(--notice_foot_font_size);
}
/*#index_shade{*/
/*    background: var(--shade_index_bk);*/
/*}*/
/*#platform_shade{*/
/*    background: var(--shade_plat_bk);*/
/*}*/
/*#page_shade{*/
/*    background: var(--shade_page_bk);*/
/*}*/
.invisible{
    visibility: hidden !important;
}
.visible{
    visibility: visible !important;
}
.show{
    display: block;
}
.hidden{
    display: none;
}
#storage_f{
    display: none;
    visibility: hidden !important;
    width: 0px;
    height: 0px;
    overflow: hidden;
}/*kvr*/

/*cwj*/.full_w{
    width: 100vw;
}
.full_h{
    height: 100vh;
}
.full_h_for_father{
    height: 100%;
}/*cwj*/
