:root{
    --body_background_color_1:pink;
    --data_body_background_color_1:red;
    --son_menu_color_1:red;
    --grandson_menu_color_1:green;
    --admin_login_background_color_1:blue;
    --admin_login_input_border_color_1: red;
    --admin_login_button_border_color_1: orange;
    --font_color_1:red;
    --font_color_2:orange;
    --border_color_1:red;
    --index_header_background_color_1:orange;
    --index_body_background_color_1:blue;
    --index_footer_background_color_1:green;
    --now_index_header_actions:red;
    --now_chat_header_actions:red;
    --index_footer_split_tag_background_color_1:black;
    --now_index_footer_click_background_color_1:pink;
    --loadimg-dom_background_color_1:grey;
    --index_data_body_background_color_1:red;
    --chat_data_body_background_color_1:pink;
    --chat_body_background_color_1:grey;
    --chat_footer_background_color_1:green;
    --chat_header_background_color_1:blue;
    --chat_body_data_background_color_1:pink;
    --more_data_body_background_color_1:green;
    --more_body_background_color_1:blue;
    --more_footer_background_color_1:grey;
    --more_header_background_color_1:red;
    --more_body_data_background_color_1:orange;
    --set_data_body_background_color_1:pink;
    --set_body_background_color_1:red;
    --set_body_more_set_color_1:green;
    --set_change_langvage_color_1:blue;
    --set_footer_background_color_1:green;
    --set_header_background_color_1:orange;
    --set_body_data_background_color_1:blue;
    --set_header_span_color_1:red;
    --set_body_data_li_color_1:pink;
    --menu_1_background_color_1:red;
    --menu_2_background_color_2:pink;
    --menu_3_background_color_3:green;
    --menu_4_background_color_4:blue;
    --admin_menu_background_color_0_1: orange;
    --admin_menu_background_color_1_1: red;
    --admin_menu_background_color_2_1: pink;
    --admin_menu_background_color_3_1: green;
    --admin_menu_background_color_4_1: blue;
    --admin_menu_background_color_5_1: orange;
    --admin_menu_background_color_6_1: grey;
    --admin_menu_background_color_7_1: orange;
    --admin_menu_background_color_8_1: red;
    --admin_menu_background_color_9_1: green;
    --admin_menu_background_color_10_1: orange;
    --admin_menu_background_color_11_1: red;
    --admin_menu_background_color_12_1: green;
    --admin_menu_background_color_13_1: red;
    --admin_menu_background_color_14_1: pink;
    --admin_menu_background_color_15_1: red;
    --admin_menu_background_color_16_1: blue;
    --admin_menu_background_color_17_1: red;
    --admin_menu_background_color_18_1: orange;
    --admin_menu_background_color_19_1: red;
    --admin_menu_background_color_20_1: pink;
    --admin_header_color_1:green;
    --admin_footer_color_1:grey;
    --admin_header_span_color_1:pink;
    --admin_admin_menu_show_list_border_color_1:green;
    --admin_admin_menu_show_list_background_color_1:blue;
    --admin_admin_menu_show_list_tr_1_color_1:red;
    --admin_admin_menu_show_list_tr_2_color_1:green;
    --admin_admin_menu_show_list_tr_hover_color_1:pink;
    --admin_admin_menu_show_list_td_column_now_color_1:orange;
    --admin_admin_menu_show_list_td_column_now_hover_color_1:grey;
    --admin_admin_menu_show_list_td_column_now_hover_i_color_1:red;
    --admin_admin_menu_show_list_tr_exist_son_color_1:orange;
    --admin_admin_menu_show_list_td_a_color_1: #800858;
    --admin_admin_menu_show_list_td_a_hover_color_1:green;
    --admin_admin_menu_show_list_td_a_hover_background_color_1: #6aff78;
    --admin_table_header_background_color_1: #d2ffba;
    --one_admin_menu_detail_tr_1_background_color_1: #b7ffc4;
    --one_admin_menu_detail_tr_2_background_color_1: #ff4641;
    --one_admin_menu_detail_td_column_now_hover_color_1: #fe7eff;
    --one_admin_menu_detail_td_column_now_hover_i_color_1: #fff5bb;
    --one_admin_menu_detail_td_column_now_color_1: #4eff49;
    --one_admin_menu_detail_tr_hover_color_1: #ffe744;
}